
body{
    margin: 0px;
    background-color: #e8e8e8;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Karla", sans-serif; /** Add cool font **/
    font-size: 15px;
    color: #0e0e0e;
}
p, a, li, figcaption, td, blockquote{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-decoration: none;
}
body{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
    'header header header header'
    'hero hero hero hero'
    'main main main aside'
    'footer footer footer footer';
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 125px;
    background-color: antiquewhite;
    padding: 15px;
}
header > div{
    width: auto;
    height: 120px;
}
header > div > a > img {
    width: auto;
    height: 100%;
    padding-left: 10px;
}
header > nav > menu{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
header > nav > menu > li > a{
    font-size: 20px;
    color: #0e0e0e;
}
body > header + section{
    height: 50vh;
    background-color: #e84e4a;
    padding: 10% 5%;
}
body > header + section > h1{
    color: #f8f8f8;
    font-size: 50px;
}

.lesson-masthead{
    grid-area: hero;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    text-align: center;
    background-color: #e84e4a;
    height: 50vh;
    width: auto;
}
.lesson-masthead > h1{
    color: #e8e8e8;
    font-size: 58px;
}

main{
    grid-area: main;
    align-items: center;
    background-color: #fbf7e8;
}
main > section{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2%;
}
main > section > div{ /** Adjust the pictures and text **/
    padding-left: 75px;
    width: 100%;
    height: auto;
}
main > section > div > img {
    padding-top: 10px;
    width: 60%;
    height: auto;
}
main > section > div > p{
    padding-left: 100px;
}


aside{   /** Order Area **/
    grid-area: aside;
   display: grid;
    grid-template-columns: 100%;
    background-color: burlywood;
    text-align: center;
}
aside > article{
    width: 90%;
    margin: auto;
}
aside > article > figure > img{
    width: 100%;
    height: auto;
}
aside form input, aside form textarea {
    padding: 8px 10px;
}

footer{ /** Copyright **/
    grid-area: footer;
    background-color: antiquewhite;
    clear: both;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom: 10px;
}
footer > div > h6{
    font-size: 20px;
}
footer > div > a {
    color: #0e0e0e;
}
footer > div > a > img{
    width: auto;
    height: 30vh;
    padding: 25px;
}
footer form input, footer form textarea{
    padding: 8px 12px;
}
::placeholder{
    font-family: "Karla", sans-serif;
    font-size: 15px;
}